<h1 class="text-center action">Tipo de Pagamento</h1>
<div class="row action">
    <div class="col-sm-8 col-md-12 text-center">
        <div class="img-circle">
            <img src="assets/imagens/card.png" class="image-cart">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-md-12 text-center">
        <div class="img-circle">
            <div class="caption">
              <app-button-finaliza></app-button-finaliza>
            </div>
        </div>
    </div>
</div>
