<th>{{cartItem.product.id}}</th>
<td>{{cartItem.product.name}}</td>
<td><img src={{cartItem.product.image}} width="40px"></td>
<td>{{cartItem.product.description}}</td>
<td>
    {{cartItem.product.price}} R$
</td>
<td>
    <a><span (click)='addItem()' class="glyphicon glyphicon-plus"></span></a>
    {{cartItem.quantity}}
    <a><span (click)='removeItem()' class="glyphicon glyphicon-minus"></span></a>
</td>
<td>
  {{cartItem.total}} R$
</td>
<td>
  <p>
    <button class="btn btn-danger" (click)="removerProduto(cartItem.product.id)">Remover</button>
  </p>
</td>