<div class="panel panel-default">
    <div class="panel-heading text-center">Inserir Item</div>
    <table class="table">
        <tbody>
        <tr>
            <th class="">Código</th>
            <th><input type="number" [(ngModel)]="codigo"/></th>
            <th class="">Quantidade</th>
            <th><input type="number" [(ngModel)]="quantidade"/></th>
            <th><input class="btn btn-primary" (click)="inserirItem()" type="button" value="Inserir"></th>
        </tr>
        </tbody>
    </table>
    <div class="panel-heading text-center">Carrinho de compras</div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Imagem</th>
            <th>Descrição</th>
            <th>Valor Unitário</th>
            <th>Quantidade</th>
            <th>Valor Total</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>

        <!--
                <tr app-item-cart *ngFor="let cartItem of pedido; let i = index;" [cartItem]="cartItem" [id]="i"></tr>
        -->
        <tr *ngFor="let cartItem of pedido">

            <th>{{cartItem.product.id}}</th>
            <td>{{cartItem.product.name}}</td>
            <td><img src={{cartItem.product.image}} width="40px"></td>
            <td>{{cartItem.product.description}}</td>
            <td>
                {{cartItem.product.price}} R$
            </td>
            <td>
                <a><span class="glyphicon glyphicon-plus"></span></a>
                {{cartItem.quantity}}
                <a><span class="glyphicon glyphicon-minus"></span></a>
            </td>
            <td>
                {{cartItem.total}} R$
            </td>
            <td>
                <p>
                    <button class="btn btn-danger" (click)="removerProduto(cartItem.product.id)">Remover</button>
                </p>
            </td>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        <a href="#" class="thumbnail">
            <img src="assets/imagens/formasPagamento.png">
        </a>
    </div>
    <div class="col-xs-6 col-md-4 text-center">
        <h4 class="total">Valor total da compra : {{ totalCompra }} R$</h4>
        <button id="bt_finaliza" type="button" class="btn btn-success btn-lg" (click)="efetuarPagamento()"
                [routerLink]="['/payment']" *ngIf="pedido.length !=0">
            Efetuar Pagamento
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>

        <button id="bt_cancel" type="button" class="btn btn-danger btn-lg" (click)="cancelarCompra()"
          [routerLink]="['/payment']" *ngIf="pedido.length !=0">  
          Cancelar Compra
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </button>

    </div>

</div>
