<div class="row action">
    <div class="col-sm-8 col-md-6 text-center">
        <div class="img-circle">
            <img src="assets/imagens/admin.png" class="image">
            <div class="caption">
                <button type="button" class="btn btn-success btn-lg">Administração
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 text-center">
        <div class="img-circle">
            <img src="assets/imagens/config.png" class="image image-config">
            <div class="caption">
                <button type="button" class="btn btn-warning btn-lg">Configurações
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-md-12 text-center">
        <div class="img-circle">
            <img src="assets/imagens/cart.png" class="image">
            <div class="caption">
                <button type="button" class="btn btn-danger btn-lg" [routerLink]="['/cart']">Iniciar Venda
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
