<h1 class="text-center action">Formas de Pagamentos</h1>
<div class="row action">
    <div class="col-sm-8 col-md-6 text-center">
        <div class="img-circle">
            <img src="assets/imagens/card.png" class="image1-cart">
            <div class="caption">
                <button type="button" class="btn btn-info btn-lg" [routerLink]="['/typecard']">Cartão
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-6 text-center">
        <div class="img-circle">
            <img src="assets/imagens/money.png" class="image">
            <div class="caption">
                <button type="button" class="btn btn-success btn-lg" [routerLink]="['/detail-money']">Dinheiro
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-md-12 text-center">
        <div class="img-circle">
            <img src="assets/imagens/cart.png" class="image">
            <div class="caption">
                <button type="button" class="btn btn-danger btn-lg" (click)="cancelarCompra()">Cancelar Venda
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>
